/* @import url(modules/cta.css); */

:root{
    /* Couleur */
    --fond_principal : #101820;
    --fond_logo : #232121;
    --texte_principal :  #f0f0f0;
    --texte_secondaire : #999999;
    --couleur_accent : #00c4cc;
    --bordure_diviseur : #222;
    --hover_button : #00f0f7;

    /* Polices */
    --police_titres : "Poppins";
    --police_titres2 : "Outfit";
    --police_styleTitres : "Bold"; 

    --police_texte : "Inter";
    --police_texte2 : "Open Sans";
    --police_texte3 : "Rubik Regular";
    --police_bouton : "Space Mono";

    /* Taille de police */
    --tailleH1 : 2rem;
    --tailleH2 : 1.5rem;
    --taille_paragraphe : 1rem;
    --taille_texte_hamburger : 3rem;
    --petit_texte : .875rem;
    --bouton_lien : 1.125rem; 

    /* Espacement */
    --espace_max_contenu: 90vw;
    --padding_gloval : 1rem;
    --espace_section : 4rem; /* a 6rem*/
    --espace_titre_texte : 1.5rem;

    /* Formes et styles */
    --button_radius : 8px;

}


*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body{
    position: relative;
    background: linear-gradient(135deg, #3a6073, #16222a);
}

nav{
    background-color : var(--fond_logo);
    display: flex;
    justify-content: space-between;
    /* padding: 5px; */
    align-items: center;
    margin-bottom: var(--espace_section);
}

#nav-link{
    display: none;
}

#nav-link a:hover{
    color: blue;
}

.logo{
    height: 3rem;
}

.hamberger-menu{
    background: none;
    border: none;
}

.hamberger-menu img{
    height: 3rem;
}

.hamburger-menu-slider{
    position : fixed;
    left: 0;
    top: 0;
    width: 100%;
    height : 100%;
    background-color: #3a6073;
    transition : transform 0.5s ease-in-out ;
    transform: translateX(-100%);
    z-index : 1000;
    overflow-y: auto;
}

.hamburger-menu-slider.active{
    transform: translateX(0);

}

#hamburger-upper-container div{
    display: flex;
    justify-content: space-between;
    align-items : center;
    color : white;
    padding-bottom: .3rem;
    text-align: center;
    font-size: var(--taille_texte_hamburger);
}

hr{
    margin-bottom: var(--espace_section)
}

#nav-link-hamburg{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: var(--taille_texte_hamburger);
    text-align: center;
}

#nav-link-hamburg a{
    text-decoration : none;
}

#page-content{
    padding: 0 5vw;
}

#hero-main-content{
    margin-bottom : 1rem;
}

main{
    margin-bottom: var(--espace_section);
}

#texte-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--espace_section);
    text-align : center;
    font-weight: bold;
}

.very-big-text{
    text-align : center;
    font-size : 2rem;
    font-weight : bold;
    margin-bottom: var(--espace_titre_texte);
}

#couleur-accent{
    color : var(--couleur_accent);
    font-weight : bold;
}

.profile-pic{
    width: 200px;
    height : 200px;
    border : solid black 2px;
    margin : 0 auto;
    border-radius : 50%;
    background-image: url(profile.png);
    background-size : cover;
    background-position: center;
    background-repeat: no-repeat;
}



h1{
    font-size: var(--tailleH1);
    font-family: var(--police_titres);
    font-weight: var(--styleTitres);
    text-align: center;
    color: white;
}

h2{
    font-size: var(--tailleH2);
    font-family: var(--police_titres2);
    color: white;
}

p{
    font-family: var(--police_texte);
    font-size: var(--taille_paragraphe);
    color: white;
}

i{
    font-size : 4rem;
    color: white;
}

button{
    font-family: var(--police_bouton);   
}

button a{
    color: #fff;
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}

/* section a propos */


#a-propos > h2, #a-propos > img{
    margin-bottom : var(--espace_titre_texte);
}

#img-a-propos{
    width: 100%;
  height: auto;
  display: block;
    margin-bottom: var(--espace_titre_texte);
}


#a-propos-paragraph button{
    max-width : 250px;
    margin : 0 auto ;
}

#a-propos-paragraph, #a-propos-paragraph p{
    margin-bottom: var(--espace_titre_texte);
}

#a-propos-paragraph div{
    text-align: center;
}


/* Table */
table{
    /* border: solid 1px #fff; */
    text-align: center;
    width: 100%;
    border-collapse : collapse;
    max-width : 900px;
    margin : 0 auto;
    color: white;
}

.first-row{
    background-color : var(--bordure_diviseur);
}

.colonne-service{
    max-width: 150px;
    text-align: justify;
    padding: 1rem;
}

#services{
    margin-bottom: var(--espace_section);
}

#services h2{
    margin-bottom: var(--espace_titre_texte);
    text-align: center;
}

tr td, tr th{
    border: solid 1px var(--couleur_accent);
}






/* compétences */
#competences h2{
    text-align: center;
    margin-bottom: var(--espace_titre_texte);
}

#mes-competences{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-bottom: var(--espace_section);
    gap: var(--espace_titre_texte);
}

.list-competence{
    display: flex;
    align-items: center;
    background-color: var(--fond_logo);
    padding: 1rem;
    max-width : 900px;
}

/* contact */
#contact{
    margin-bottom: 2rem;
}

.contact-list-container{
    display: flex;
    justify-content: space-around;
}

.contact-list-container li, .contact-list-container a{
    text-decoration: none;
    list-style: none;
    color: white;
}

.contact-list-container a:hover{
    text-decoration: underline;
}


footer{
    text-align: center;
    color: white;
}

/* ----------------- TABLET ----------------- */
@media screen and (min-width: 768px) {

  :root {
    --tailleH1: 2.5rem;
    --tailleH2: 2rem;
    --taille_paragraphe: 1.125rem;
  }

  .hamberger-menu{
    display : none;
}

  #nav-link{
    display: flex;
    font-size : var(--taille_paragraphe);
    gap : 4rem;
    margin-right: 4rem;
    /* text-decoration : none; */
  }

  #nav-link > li > a{
    text-decoration: none;
    color: white;
  }

  #nav-link > li{
    list-style: none;
  }

  .cta-mobile{
    display : none;
  }

  .very-big-text{
    /* width: 500px; */
    font-size: 3rem;
  }

  #texte-hero{
    justify-content : center;
  }

  #hero-main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }

#a-propos h2{
    text-align: center;
}

 #a-propos-contents{
  display : grid;
  grid-template-columns : 1fr 30% 50% 1fr;
  grid-template-rows : 1fr 1fr;
  gap : var(--espace_titre_texte) 1rem;
}

#img-a-propos{
  width: 100%; 
  /* max-width: 345px; */
  height : auto;
  grid-column : 2;
  grid-row : 1;
}

#a-propos-paragraph{
  grid-column : 3;
  text-align : justify;
  /* max-width: 720px; */
}

#a-propos-texte2{
  grid-column : 2 / 4;
  grid-row : 2;
  /* max-width: 1250px; */
}

#a-propos-texte2 p{
    text-align : justify;   
}

#a-propos-texte2 h2{
    margin-bottom : var(--espace_titre_texte);
}

}

@media screen and (min-width : 1400px) {
    #a-propos-contents{
        grid-template-columns : 1fr 25% 28% 1fr;
    }
}